
/* ---------Color Scheme--------- */
/* CSS HEX */
/* --dark-moss-green: #3f5a2d;
--jet: #3e3836;
--ash-gray: #9fa096;
--: #0580f3
--prussian-blue: #23324b; */


/* ---------Font/Typography--------- */
/* Caveat */
/* Montserrat */

/* ---------SITE WIDE----------*/
* {
    font-family: "Monteserrat", sans-serif;
    box-sizing: border-box;
}


/* ----------HEADER-------------*/
header {
    display: grid;
    grid-template-columns: 70px auto 50px;
    padding: 5px 0 10px 10px;
    align-items: end;
    column-gap: 20px;
    background-color: rgb(159, 160, 150, 0.5);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.5rem;
    padding-bottom: 5px;
    color: #23324b; 
}

/* ----------HAMBURGER-------------*/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #23324b;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* ------- NAVIGATION -------- */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem;
    color: #23324b;
    text-decoration: none;
}

.navigation li.current {
    background-color: #9fa096;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #0580f3;
    border-radius: 5px;
    color: white;
}

/* ------- BODY ---------- */
/* ---- HERO SECTION ----- */
.hero-container {
    position: relative;
    display: block;
    width: 100%;
}

.hero-container img {
    display: block;
    width: 100%;
    height: auto;
}

/* ------- Call to Action ------- */
.hero-container button {
    position: absolute;
    bottom: 75px;
    left: 75%;
    transform: translateX(-50%);
    z-index: 2;
    border: solid 2px white;
    font-size: .8rem;
}

/* ------- Current Events -------- */
.current-events {
    border: solid 1px orange; /* remove */
}

/* ------- Weather --------- */
.weather-current {
    border: solid 1px orange; /* remove */
}

.weather-forcast {
    border: solid 1px orange; /* remove */
}

/* ------- Company Highlight ------- */
.company-highlight {
    border: solid 1px orange; /* remove */
}

h1 {
    margin-left: 10px;
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
}

img {
    border-radius: 5px;
}


.event-weather {
    display: grid;
    grid-template-columns: 1fr;
    border: solid 2px yellow; /* remove */
}

.weather-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 1rem;
}

.weather-forecast-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.current-events p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.current-events h2, .weather-current h2, .weather-forecast h2 {
    text-align: center;
    margin: 5px;
    font-weight: 100;
    color: white;
    background-color: #9fa096;
}

/* ------ DIRECTORY OF MEMBERS ------- */
/* ------ Filtering Buttons ------- */

.member-filter {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: stretch;
    padding-top: 10px;
    padding-left: 10px;
}

.cards section {
    margin-bottom: 30px;
}

.cards h2 {
    text-align: center;
    border-bottom: solid 1px #9fa096;
}

.card-info-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

.card-info-row img {
    flex-shrink: 0;
    width: 100px;
    height: auto;
}

.card-info-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-info-col p, .card-info-col a {
    margin: 5px;
}

button {
    font-family: "Caveat", cursive;
    background-color:  #3f5a2d;
    border:  #3f5a2d;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}

button:hover {
    background-color: #0580f3;
    cursor: pointer;
}

.list section{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list h2 {
    text-align: center;
    margin: 5px;
}

/* ------- Company Highlight -------- */

.company-highlight {
    display: grid;
    grid-template-columns: 1fr;
}

/* ------- FOOTER ------- */
footer {
    padding: 1rem 10px;
    text-align: center;
}

.physical-address {
    border-top: solid 3px #9fa096;
}

.commerce-name {
    font-weight: 800;
    font-size: 1.2rem;
}

.physical-address p {
    margin: 5px;
    color: #011936;
}

/* ------- Social Media ------- */
.social {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

/*
.course-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
} */

/* ------- Copyright -------- */
.copyright, .student {
    font-size: 0.8rem;
    color:  #23324b;
    background-color: rgb(159, 160, 150, .5);
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ------- Join: Become a Member Form ------- */
.join-form label {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}

.join-form input, .join-form select {
    width: 100%;
    padding: .5rem;
    margin-top: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.join-form .submit-button {
    font-family: "Caveat", cursive;
    background-color:  #3f5a2d;
    border:  #3f5a2d;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
}

