
/* ---------Color Scheme--------- */
/* CSS HEX */
/* --dark-moss-green: #3f5a2d;
--jet: #3e3836;
--ash-gray: #9fa096;
--: #0580f3
--prussian-blue: #23324b; */


/* ---------Font/Typography--------- */
/* Caveat */
/* Montserrat */

/* ---------SITE WIDE----------*/
* {
    font-family: "Monteserrat", sans-serif;
    box-sizing: border-box;
}


/* ----------HEADER-------------*/
header {
    display: grid;
    grid-template-columns: 70px auto 50px;
    padding: 5px 0 10px 10px;
    align-items: end;
    column-gap: 20px;
    background-color: rgb(159, 160, 150, 0.5);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.5rem;
    padding-bottom: 5px;
    color: #23324b; 
}

.hero-container h1 {
    font-size: 1.7rem;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
    font-family: "Caveat", cursive;
}

/* ----------HAMBURGER-------------*/
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #23324b;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* ------- NAVIGATION -------- */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem;
    color: #23324b;
    text-decoration: none;
}

.navigation li.current {
    background-color: #9fa096;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #0580f3;
    border-radius: 5px;
    color: white;
}

.navigation a.active {
    background-color: #007acc;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}


/* ------- BODY ---------- */
/* ---- HERO SECTION ----- */
.hero-container {
    position: relative;
    display: block;
    width: 100%;
}

.hero-container img {
    display: block;
    width: 100%;
    height: auto;
}

/* ------- Call to Action ------- */
.hero-container button {
    position: absolute;
    bottom: 40px;
    left: 75%;
    transform: translateX(-50%);
    z-index: 2;
    border: solid 2px white;
    font-size: 1rem;
}


h1 {
    margin-left: 10px;
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
}

img {
    border-radius: 5px;
}

.event-weather {
    display: grid;
    grid-template-columns: 1fr;
}

.weather-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 1rem;
}

.weather-forecast-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.current-events p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.current-events h2, .weather-current h2, .weather-forecast h2 {
    text-align: center;
    margin: 5px;
    font-weight: 100;
    color: white;
    background-color: #23324b;
}

/* ------ DIRECTORY OF MEMBERS ------- */
/* ------ Filtering Buttons ------- */

.member-filter {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: stretch;
    padding-top: 10px;
    padding-left: 10px;
}

.cards section {
    margin-bottom: 30px;
}

.cards h2 {
    text-align: center;
    border-bottom: solid 1px #9fa096;
}

.card-info-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

.card-info-row img {
    flex-shrink: 0;
    width: 100px;
    height: auto;
}

.card-info-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-info-col p, .card-info-col a {
    margin: 5px;
}

button {
    font-family: "Caveat", cursive;
    background-color:  #3f5a2d;
    border:  #3f5a2d;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}

button:hover {
    background-color: #0580f3;
    cursor: pointer;
}

.list section{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list h2 {
    text-align: center;
    margin: 5px;
}

/* ------- Company Highlight -------- */

.company-highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 3px solid #9fa096;
}

.company-highlight h2 {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 1.5rem;
    padding-bottom: 10px;
    font-weight: 400;
    font-style: italic;
}

.highlight-cards {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;  
    padding: 10px;
}

.spotlight-card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.spotlight-card h3 {
    font-size: 1.4rem;
    margin: 10px 0;
}

.spotlight-card a {
    text-decoration: none;
    padding-bottom: 10px;
}

/* ------- FOOTER ------- */
footer {
    padding: 1rem 10px;
    text-align: center;
}

.physical-address {
    border-top: solid 3px #9fa096;
}

.commerce-name {
    font-weight: 800;
    font-size: 1.2rem;
}

.physical-address p {
    margin: 5px;
    color: #011936;
}

/* ------- Social Media ------- */
.social {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

/* ------- Copyright -------- */
.copyright, .student {
    font-size: 0.8rem;
    color:  #23324b;
    background-color: rgb(159, 160, 150, .5);
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ------- Join: Become a Member Form ------- */
.join-form label {
    display: block;
    padding-top: 2rem;
    font-size: 1rem;
}

.join-form input, .join-form select {
    width: 100%;
    padding: .5rem;
    margin-top: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.join-title {
    padding-bottom: 20px;
}

.join-form legend {
    font-size: 1.5rem;
    font-weight: 600;
}

.join-form textarea {
    display: block;
    width: 100%;
    padding-top: 10px;
    font-size: 1rem;
    font-style: italic;
}

.join-form input {
    font-size: 1rem;
}

.join-form input:required {
    border-bottom: 6px solid red;
}

.join-form input:required:valid {
    border-bottom: 6px solid green;
}

.join-form select {
    font-size: 1rem;
    height: 35px;
}

.join-form span {
    display: block;
    padding-bottom: 8px;
}

.join-form fieldset {
    border: none;
}

.membership {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid 1px #23324b;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}

.membership-info {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.membership h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.membership p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.membership button {
    display: block;
    font-size: 1.2rem;
    padding: 10px 15px;
    margin: 0 auto;
    margin-top: auto;
}

.membership-title{
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

form button {
    margin: 0 15px 20px 15px;
    display: block;
    font-size: 1.5rem;
    padding: 10px 20px;
}

.form-directions {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
    font-style: italic;
}

join-form .timestamp {
    display: none;
}


/* ------- Dialog Box ------- */
dialog {
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 20px;
    border: solid 4px #23324b;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #3f5a2d;
    color: white;
    border: none;
    border-radius: 5px;
}

/* ------- Areas of Interest ------- */
.area-of-interest-card {
    margin-bottom: 20px;
    border: 1px solid #9fa096;
    background-color: rgb(159, 160, 150, .3);
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;

    display: grid;
    grid-template-areas: 
    "title"
    "figure"
    "description"
    "address"
    "button";
}

.area-of-interest-card h2 {
    font-size: 2rem;
    font-family: "caveat", cursive;
    margin: 1rem 10px;
    grid-area: title;
}
.area-of-interest-card p {
    font-size: 1rem;
    text-align: center;
    grid-area: description;
}

.area-of-interest-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    grid-area: figure;
}

.area-of-interest-card address {
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    grid-area: address;
}

.area-of-interest-card button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    font-size: 1.3rem;
    background-color: #3f5a2d;
    color: white;
    border-radius: 5px;
    grid-area: button;
}