
/* ------------ Color Scheme ------------ */
/* CSS HEX */
/* --dark-moss-green: #3f5a2dff;
--jet: #3e3836ff;
--ash-gray: #9fa096ff;
--indigo-dye: #2a455eff;
--prussian-blue: #23324bff; */


/* ------------ Font/Typography --------- */
