@media only screen and (min-width: 65rem) {

header, main, nav, footer {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    grid-template-columns: 65px auto;
}

.hamburger {
    display: none;
}

.navigation {
    display: block;
    background-color: rgb(159, 160, 150, .5);
    padding-bottom: 10px;
    padding-top: 10px;
}

.navigation ul {
    display: flex;
    justify-content: space-evenly;
}

.navigation a {
    border: none;
}

header span {
    font-size: 2rem;
}

h1 {
    font-size: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 25px;
}

.event-weather {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.weather-forecast-card {
    font-size: 1.2rem;
    padding-top: 25px;
}

.hero-container button {
    font-size: 1.5rem;
}

.hero-container h1 {
    font-size: 3rem;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
    font-family: "Caveat", cursive;
}

/* ------- Company Highlight -------- */

.company-highlight h2 {
    font-size: 2rem;;
}

.highlight-cards {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;  
    padding: 10px;
}

.spotlight-card h3 {
    font-size: 1.7rem;
    padding-bottom: 20px;
}

.membership-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

}