@media only screen and (min-width: 38rem) {
    
    .area-of-interest-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title title"
        "figure description"
        "figure address"
        "button button";
        }

    .area-of-interest-card p, .area-of-interest-card address {
        text-align: left;
        padding: 0 15px;
    }


    #areas-of-interest img {
        transition: transform 0.4s ease, opacity 0.3s ease;
        border-radius: 10px;
        padding-left: 5px;
    }

    #areas-of-interest img:hover {
        transform: scale(1.05);
        opacity: 0.9;
    }
} 